//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: 'Balsamiq Sans', cursive;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================
$COLOR-GREY: rgb(122, 122, 122);
//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	//background-color: rgb(247, 215, 223);
	background-color: rgb(24, 23, 23);
	//background-color: rgb(241, 126, 126);
	&.lock {
		overflow: hidden;
	}
}

body.lock{
	overflow: hidden;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: 1440px) {
		padding: 0 28px;
	}
	@media (max-width: $md1+px) {
		max-width: 970px;
		padding: 0 0;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//@import "forms.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
//@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

.wrapper {

	&__content {
	}
}
.content {

	&__wrapper {
	}

	&__timer {
		width: 100%;
		height: 100%;
		margin-top: 100px;
	}

	&__tasks {
		width: 100%;
		height: 100%;
		margin-top: 120px;
		border-top: 1px solid rgb(90, 89, 89);
		border-bottom: 1px solid rgb(90, 89, 89);
	}

	&__info {
		margin-top: 60px;
		padding-bottom: 70px;
	}
}
.content-timer {

	&__body {
		width: 100%;
		padding: 0 24px;
	}

	&__window{
		padding-bottom: 20px;
		//background-color: rgba(209, 70, 60, 0.973);
		background: linear-gradient(45deg, rgba(114, 3, 3, 0.822) 2%, rgb(199, 49, 35) 90%);
		box-shadow: 0px 0px 8px 15px rgba(116, 33, 9, 0.58);
		//border: 3px solid rgb(75, 74, 74);
		border-radius: 10px;
		margin: 0 auto;
		max-width: 850px;
		height: 400px;
		@include flexbox();
		flex-direction: column;
		justify-content: space-between;
	}

	&__window-header{
		@include flexbox();
		align-items: center;
		justify-content: space-between;
		padding: 0 12px;
	}

	&__window-data{}

	&__window-buttons{
		@include flexbox();
		justify-content: space-around;
	}
}

.timer-header{
	&__settings{
		cursor: pointer;
		&:hover{
			transform: scale(1.1);
		}
		img{
		}
		@media (max-width: $md4+px) {
			img{
				max-width: 75%;
			}
		}
	}

	&__skip{
		border: 2px solid rgb(0, 0, 0);
		border-radius: 8px;
		padding: 5px;
		font-family: 'Balsamiq Sans', cursive;
		font-size: 24px;
		cursor: pointer;
		//color: #ffff;
		&:hover{
			transform: scale(1.1);
		}
		@media (max-width: $md4+px) {
			font-size: 18px;
		}
	}
}

.timer-data {

	&__number{
		justify-content: center;
		@include flexbox();
	}

	&__number-minutes{}

	&__number-separator{}

	&__number-seconds{}

	&__info{
		font-size: 16px;
		font-family: 'Balsamiq Sans', cursive;
		color: #ffff;
		text-align: center;
		margin-top: 20px;
		position: relative;
		&::after{
			content: '';
			top: -15px;
			left: 50%;
			transform: translate(-50%, 50%);
			position: absolute;
			width: 40px;
			height: 1px;
			background-color: #ffff;
		}
	}

	&__img {
		width: 100%;
		margin-top: 40px;
		img{
			max-width: 100%;
		}
	}
}

.timer-data-num{
	font-size: 96px;
	font-family: 'Balsamiq Sans', cursive;
	color: rgb(255, 255, 255);
	@media (max-width: $md4+px) {
		font-size: 78px;
	}
}

.timer-buttons{
	&__btn{
		padding: 7px 40px;
		text-align: center;
		cursor: pointer;
		font-family: 'Balsamiq Sans', cursive;
		font-size: 28px;
		//font-weight: 700;
		color: #ffff;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 10px;
		&:hover{
			transform: scale(1.1);
		}
		@media (max-width: $md4+px) {
			padding: 5px 18px;
		}
	}
}






.content-tasks {

	&__body {

	}

	&__title {
				//line-height: 0;
				margin: -20px auto 0 auto;
				font-size: 24px;
				font-family: 'Balsamiq Sans', cursive;
				background-color: rgb(24, 23, 23);
				text-align: center;
				color: $COLOR-GREY;
				display: block;
				width: 10%;
	}

	&__block {
		width: 100%;
		max-width: 850px;
		margin: 0 auto;
		color: $COLOR-GREY;
		padding: 40px 0 120px 0;
	}
}

.tasks-block {

	&__new {
		@include flexbox();
		justify-content: space-between;
		border: 1px solid $COLOR-GREY;
		border-radius: 5px;
		padding: 16px;
		height: 60px;
	}

	&__list {
		margin-top: 20px;
		border: 1px solid $COLOR-GREY;
		border-radius: 5px;
		padding: 16px;
		height: 100%;
		min-height: 380px;
	}
}
.tasks-new {

	&__text {
		font-size: 18px;
		@include flexbox;
		justify-content: center;
		align-items: center;
		@media (max-width: $md3+px) {
			display: none;
		}
	}

	&__name {
		background-color: rgb(59, 59, 59);
		color: $COLOR-GREY;
		font-size: 16px;
		width: 25%;
		height: 100%;
		padding: 0 5px;
		@media (max-width: $md3+px) {
			width: 30%;
		}
	}

	&__description {
		background-color: rgb(59, 59, 59);
		color: $COLOR-GREY;
		font-size: 16px;
		width: 50%;
		height: 100%;
		padding: 0 5px;
		@media (max-width: $md3+px) {
			width: 60%;
		}
	}

	&__add {
		font-size: 24px;
		font-weight: bold;
		width: 25px;
		height: 100%;
		background-color: rgb(43, 41, 41);
		@include flexbox();
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}
.tasks-list {

	&__elem {
		@include flexbox();
		justify-content: space-between;
		border: 1px solid $COLOR-GREY;
		border-radius: 5px;
		padding: 10px;
		margin-top: 20px;
		&:first-child{
			margin-top: 0;
		}
		@media (max-width: $md4+px) {
			flex-direction: column;
    		align-items: center;
		}
	}
}
.tasks-list-elem {

	&__number {
		@include flexbox;
		justify-content: center;
		align-items: center;
		@media (max-width: $md4+px) {	
			width: 100%;
			display: block;
			text-align: start;
			font-size: 16px;
		}
	}
	&__name {
		width: 25%;
		@include flexbox;
		justify-content: center;
		align-items: center;
		@media (max-width: $md3+px) {
			width: 20%;
		}
		@media (max-width: $md4+px) {	
			width: 100%;
			font-size: 16px;
    		font-weight: bold;
		}
	}

	&__desription {
		width: 50%;
		height: 100%;
		line-height: 20px;
		@media (max-width: $md3+px) {
			width: 42%;
		}
		@media (max-width: $md4+px) {	
			margin: 16px 0;
			width: 100%;
			text-align: center;
		}
	}

	&__time {
		width: 7%;
		@include flexbox;
		justify-content: center;
		align-items: center;
	}

	&__buttons {
		@include flexbox();
		align-items: center;
		justify-content: center;
		justify-content: flex-end;
		width: 10%;

		@media (max-width: $md4+px) {	
			width: 100%;
			align-items: center;
			justify-content: center;
			margin-top: 10px;
		}	
	}

	&__button {
		border: 1px solid $COLOR-GREY;
		//padding: auto;
		@include flexbox;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 100%;
		max-height: 25px;
		min-width: 25px;
		cursor: pointer;
	}

	&__button-edit {
	}

	&__button-del {
		margin-left: 5px;
	}
}
















.content-info {

	&__body {
		padding: 0 10%;
	}

	&__title {
		font-size: 26px;
		font-weight: bold;
		font-family: 'Balsamiq Sans', cursive;
		text-align: center;
		color:rgb(122, 122, 122);
	}

	&__text {
		margin-top: 20px;
		font-size: 16px;
		line-height: 22px;
		font-family: 'Balsamiq Sans', cursive;
		text-align: center;
		color:rgb(94, 93, 93);
		position: relative;
		&::after{
			background-color: $COLOR-GREY;
			transform: translate(-50%, 50%);
			position: absolute;
			content: '';
			bottom: -26px;
			left: 50%;
			width: 36px;
			height: 2px;
		}
	}
}



//<АДАПТИВ 990>====================================================================================================
